@media screen and (max-width: 640px) {
    header .top-header {
        font-size: 3em;
    }
    header .top-header .container div:first-child {
        width: 100%;
        padding: 35px 10px;
        text-align: center;
        background-color: #fafafa;
        color: #838383;
    }
    header .container {
        padding: 0;
    }

    header .top-header .choise-lang {
        border-left: none;
    }
    header .top-header .my-account {
        margin: auto;
        border: none;
    }

    header .top-header .search-btn {
        border-right: none;
    }

    header .top-header .search-field {
        padding: 2px;
    }

}

@media screen and (max-width: 480px) {
    header .top-header .container div:first-child {
        padding: 20px 10px;
    }
    header .top-header {
        font-size: 2em;
    }

    .search-btn:hover .search-field {
        padding: 4px;
    }
}