.container {
  max-width: 1200px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px; }

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 10px; }

.btn-orange {
  height: 54px;
  display: inline-block;
  margin: auto;
  border-bottom: solid 3px #dd6b44;
  background-color: #fd926d;
  color: #ffffff;
  font-family: "HelveticaNeueLTStdTh", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 23px 33px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .btn-orange i {
    margin-left: 20px; }

.main-header {
  background-color: #000;
  color: #fff; }
  .main-header .sub-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 640px) {
      .main-header .sub-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 1.9em; } }
    @media screen and (max-width: 420px) {
      .main-header .sub-header {
        font-size: 1.5em; } }
    .main-header .sub-header .custom-care {
      font-size: 1.2em;
      text-transform: uppercase; }
      @media screen and (max-width: 640px) {
        .main-header .sub-header .custom-care {
          width: 100%;
          text-align: center;
          background-color: #fafafa;
          color: #838383;
          padding: 40px 10px; } }
    .main-header .sub-header .right-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      @media screen and (max-width: 640px) {
        .main-header .sub-header .right-wrapper {
          width: 100%;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          text-align: center;
          padding: 25px 10px; } }
      .main-header .sub-header .right-wrapper .ui-selectmenu-button.ui-button {
        text-align: center;
        white-space: nowrap;
        max-width: 72px;
        font-family: inherit;
        font-size: 1.2em;
        background-color: transparent;
        color: inherit;
        border: none;
        outline: none;
        border-left: 1px solid #444444;
        border-right: 1px solid #444444; }
      .main-header .sub-header .right-wrapper .ui-selectmenu-text {
        margin: 0; }
      .main-header .sub-header .right-wrapper .ui-selectmenu-open {
        text-align: center; }
      .main-header .sub-header .right-wrapper .user-account {
        font-size: 1.2em;
        font-family: inherit;
        background: none;
        border: none;
        color: inherit;
        text-transform: uppercase;
        padding: 10px 5px;
        cursor: pointer; }
        .main-header .sub-header .right-wrapper .user-account i {
          color: #666666;
          font-size: 1.4em;
          margin-right: 10px; }
      .main-header .sub-header .right-wrapper .search-form {
        position: relative; }
        .main-header .sub-header .right-wrapper .search-form input[type="text"] {
          font-size: 1.5em;
          line-height: 24px;
          font-family: sans-serif;
          -webkit-border-radius: 2px;
                  border-radius: 2px;
          width: 220px;
          padding: 4.5px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          position: absolute;
          right: 100%;
          top: -900%;
          -webkit-transition: all ease-in-out 0.5s;
          -o-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
          border: 1px solid #444444; }
          @media screen and (max-width: 640px) {
            .main-header .sub-header .right-wrapper .search-form input[type="text"] {
              height: 1.8em;
              width: 280px;
              padding: 5px 20px; } }
        .main-header .sub-header .right-wrapper .search-form .btn-search {
          background: none;
          color: white;
          border: none;
          font-size: 1.6em;
          cursor: pointer;
          padding: 5px 15px;
          border-left: 1px solid #444444;
          border-right: 1px solid #444444; }
        .main-header .sub-header .right-wrapper .search-form:hover input[type="text"] {
          top: -4px; }
        .main-header .sub-header .right-wrapper .search-form input[type="text"]:focus {
          top: -4px; }

.ui-selectmenu-text {
  margin: 0; }
  .ui-selectmenu-text:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    margin-left: 10px; }

.ui-selectmenu-open {
  text-align: center;
  background-color: #fafafa;
  margin: 4px;
  top: 33px !important;
  -webkit-box-shadow: #000 0 6px 14px 0;
          box-shadow: #000 0 6px 14px 0; }
  @media screen and (max-width: 767px) {
    .ui-selectmenu-open {
      top: 200px !important; } }

.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid #d3d3d3; }
  .ui-menu .ui-menu-item:last-child {
    border: none; }

.ui-menu .ui-state-active {
  margin: 0; }

.nav-logo-cart {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .nav-logo-cart .logo {
    margin-right: auto; }
    .nav-logo-cart .logo img {
      height: 30px; }
  .nav-logo-cart .main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6em;
    visibility: visible;
    opacity: 1;
    max-height: none;
    overflow: hidden;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    @media screen and (max-width: 860px) {
      .nav-logo-cart .main-menu {
        font-size: 1.5em; } }
    @media screen and (max-width: 767px) {
      .nav-logo-cart .main-menu {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        width: 100%;
        display: block;
        visibility: hidden;
        max-height: 1px;
        opacity: 0;
        overflow: hidden;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; } }
    .nav-logo-cart .main-menu .main-menu-item > a {
      padding: 30px 12.5px;
      color: #000;
      text-decoration: none;
      display: block; }
      @media screen and (max-width: 860px) {
        .nav-logo-cart .main-menu .main-menu-item > a {
          padding: 30px 5px;
          font-size: 0.9em; } }
      @media screen and (max-width: 767px) {
        .nav-logo-cart .main-menu .main-menu-item > a {
          padding: 30px 5px;
          font-size: 2em;
          border-bottom: 1px solid #d3d3d3; }
          .nav-logo-cart .main-menu .main-menu-item > a:last-child {
            border-bottom: none; } }
      .nav-logo-cart .main-menu .main-menu-item > a:after {
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        margin-left: 5px; }
      .nav-logo-cart .main-menu .main-menu-item > a:hover {
        background-color: #e7e7e7; }
    @media screen and (min-width: 767px) {
      .nav-logo-cart .main-menu .main-menu-item:hover .sub-menu {
        visibility: visible;
        opacity: 1; } }
    @media screen and (max-width: 767px) {
      .nav-logo-cart .main-menu .main-menu-item .sub-menu.active {
        visibility: visible;
        opacity: 1;
        max-height: 10000px;
        padding: 25px;
        margin: 20px 0; } }
    .nav-logo-cart .main-menu .main-menu-item .sub-menu {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      z-index: 2;
      background-color: #ffbfa9;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      top: 100%;
      right: 0;
      min-width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: -20px;
      padding: 25px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      @media screen and (max-width: 767px) {
        .nav-logo-cart .main-menu .main-menu-item .sub-menu {
          visibility: hidden;
          opacity: 0;
          position: static;
          max-height: 0;
          -webkit-transition: all 0.6s;
          -o-transition: all 0.6s;
          transition: all 0.6s;
          overflow: hidden;
          margin: 0;
          padding: 0; } }
      .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item {
        width: 25%;
        margin-bottom: 30px;
        font-size: 2em; }
        @media screen and (max-width: 860px) {
          .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item {
            width: 33.3%; } }
        @media screen and (max-width: 767px) {
          .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item {
            width: 100%;
            font-size: 4em; } }
        .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item > a {
          color: black;
          text-decoration: none; }
        .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item .item-menu {
          margin-top: 15px;
          font-size: 0.5em; }
          .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item .item-menu a {
            display: block;
            padding: 5px;
            color: #000;
            text-decoration: none; }
            .nav-logo-cart .main-menu .main-menu-item .sub-menu .sub-menu-item .item-menu a:hover {
              text-decoration: underline;
              color: #424242; }
  .nav-logo-cart .main-menu.active {
    visibility: visible;
    opacity: 1;
    max-height: 10000px; }
  .nav-logo-cart .mobile-menu {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fd926d;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin-top: 20px; }
    @media screen and (max-width: 767px) {
      .nav-logo-cart .mobile-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    .nav-logo-cart .mobile-menu i {
      cursor: pointer;
      font-size: 25px; }
  .nav-logo-cart .cart {
    margin-left: 25px;
    color: #949393;
    font-size: 1.2em;
    min-width: 215px;
    font-family: helvetica, arial, sans-serif; }
    @media screen and (max-width: 767px) {
      .nav-logo-cart .cart {
        margin: auto;
        width: 100%;
        font-size: 3em; } }
    .nav-logo-cart .cart .cart-list {
      border: 1px solid #949393;
      border-bottom: none;
      padding: 10px;
      position: relative;
      z-index: 2; }
      @media screen and (max-width: 768px) {
        .nav-logo-cart .cart .cart-list {
          display: none; } }
      .nav-logo-cart .cart .cart-list ul {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        background-color: white;
        border: 1px solid #949393;
        border-top: none;
        width: 100%;
        top: 100%;
        left: -1px; }
        .nav-logo-cart .cart .cart-list ul li {
          border-bottom: 1px solid #949393; }
          .nav-logo-cart .cart .cart-list ul li:last-child {
            border: none; }
        .nav-logo-cart .cart .cart-list ul a {
          font-family: helvetica, arial, sans-serif;
          color: #949393;
          font-size: 1.1em;
          text-decoration: none;
          display: block;
          padding: 10px 10px 10px 30px; }
          .nav-logo-cart .cart .cart-list ul a:hover {
            background-color: #ffc8c8; }
      .nav-logo-cart .cart .cart-list:after {
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 10px;
        top: 10px; }
      .nav-logo-cart .cart .cart-list:hover ul {
        visibility: visible;
        opacity: 1; }
    .nav-logo-cart .cart .cart-items {
      padding: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border: 1px solid #949393; }
      .nav-logo-cart .cart .cart-items a {
        color: inherit; }
  @media screen and (max-width: 767px) {
    .nav-logo-cart {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .nav-logo-cart .logo {
        margin: auto auto 30px auto; }
        .nav-logo-cart .logo img {
          height: 65px; } }

@media screen and (max-width: 992px) {
  .main-slider {
    font-size: 7px; } }

@media screen and (max-width: 767px) {
  .main-slider {
    display: none; } }

.main-slider .owl-carousel .item {
  background-color: #f3eee6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 440px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 992px) {
    .main-slider .owl-carousel .item {
      height: 350px; } }
  .main-slider .owl-carousel .item:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(25%, rgba(0, 0, 0, 0.2)), color-stop(50%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 100%); }
  .main-slider .owl-carousel .item .slider-text {
    max-width: 340px;
    margin-left: auto;
    text-align: center; }
    .main-slider .owl-carousel .item .slider-text h2 {
      display: inline-block;
      color: #78645d;
      font-family: LuxuryRoyaleJF, sans-serif;
      font-size: 36px;
      font-weight: 400;
      position: relative;
      margin: auto auto 7px auto; }
      .main-slider .owl-carousel .item .slider-text h2:after, .main-slider .owl-carousel .item .slider-text h2:before {
        content: '';
        display: block;
        position: absolute;
        width: 74px;
        height: 1px;
        background-color: #78645d;
        top: 21px;
        left: calc(100% + 10px); }
      .main-slider .owl-carousel .item .slider-text h2:after {
        left: auto;
        right: calc(100% + 10px); }
    .main-slider .owl-carousel .item .slider-text h1 {
      font-size: 9em;
      font-family: HelveticaNeueLTStdHvCn, sans-serif;
      color: #78645d;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.75;
      background: -webkit-gradient(linear, left top, right top, from(#b993a0), color-stop(50%, #f5b789), color-stop(50%, #f5b789), to(#e9e0ca));
      background: -webkit-linear-gradient(left, #b993a0 0%, #f5b789 50%, #f5b789 50%, #e9e0ca 100%);
      background: -o-linear-gradient(left, #b993a0 0%, #f5b789 50%, #f5b789 50%, #e9e0ca 100%);
      background: linear-gradient(to right, #b993a0 0%, #f5b789 50%, #f5b789 50%, #e9e0ca 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 0 0 8px 0;
      border-bottom: solid 4px #78645d;
      margin: auto auto 3px auto; }
    .main-slider .owl-carousel .item .slider-text h3 {
      color: #78645d;
      font-family: "HelveticaNeueLTStdLtCn", sans-serif;
      font-size: 3.6em;
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid #b7aba4;
      padding-top: 12px;
      margin-bottom: 18px; }
  .main-slider .owl-carousel .item .slider-background {
    width: 55%;
    height: 100%;
    background: no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }

.main-slider .owl-carousel .owl-dots {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0; }
  .main-slider .owl-carousel .owl-dots .owl-dot span {
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #867a76;
    margin: 0 10px; }
  .main-slider .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #fd926d; }

.main-slider .owl-carousel .owl-nav .owl-prev,
.main-slider .owl-carousel .owl-nav .owl-next,
.main-slider .owl-carousel .owl-dot {
  font-family: "Font Awesome 5 Pro"; }

.main-slider .owl-carousel .owl-nav button {
  position: absolute;
  height: 117px;
  width: 30px;
  top: calc(50% - 80px);
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5; }
  .main-slider .owl-carousel .owl-nav button i {
    color: #cbcbca;
    font-size: 2em; }

.main-slider .owl-carousel .owl-nav .owl-prev {
  left: 0; }

.main-slider .owl-carousel .owl-nav .owl-next {
  right: 0; }

.main-slider .owl-carousel .owl-nav .owl-prev:before {
  content: "\f053";
  color: #cbcbca;
  font-size: 2em; }

.main-slider .owl-carousel .owl-nav .owl-next:after {
  content: "\f054";
  color: #cbcbca;
  font-size: 2em; }

.subscribe {
  background-color: #ededed;
  color: #6b6b6b;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: -0.06px;
  margin-bottom: 40px; }
  .subscribe .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .subscribe .container {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 15px; } }
    .subscribe .container form {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 768px) {
        .subscribe .container form {
          width: 100%;
          margin-bottom: 25px; } }
      .subscribe .container form label {
        margin-right: 10px; }
        @media screen and (max-width: 768px) {
          .subscribe .container form label {
            display: none; } }
      .subscribe .container form input {
        font-style: italic;
        padding: 10px;
        border: none; }
        @media screen and (max-width: 768px) {
          .subscribe .container form input {
            font-size: 2em;
            padding: 17px 8px;
            width: 100px;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1;
                -ms-flex: 1 1;
                    flex: 1 1; } }
      .subscribe .container form button.btn-orange {
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
        height: 35px;
        min-width: 36px;
        font-size: 2em;
        font-weight: bold;
        cursor: pointer; }
        @media screen and (max-width: 768px) {
          .subscribe .container form button.btn-orange {
            height: 60px;
            min-width: 60px;
            font-size: 3em; } }
    .subscribe .container .social-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .subscribe .container .social-icons span {
        margin-right: 15px; }
        @media screen and (max-width: 768px) {
          .subscribe .container .social-icons span {
            font-size: 1.6em; } }
      .subscribe .container .social-icons ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .subscribe .container .social-icons ul li a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 55px;
          width: 55px;
          color: #6b6b6b;
          font-size: 1.7em; }
        .subscribe .container .social-icons ul li:nth-child(odd) {
          background-color: #f7f7f7; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.promotion {
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .promotion {
      display: none; } }
  .promotion .container {
    max-width: 1000px; }
    .promotion .container > div {
      position: relative; }
      .promotion .container > div:hover .overlay {
        visibility: visible;
        opacity: .2; }
      .promotion .container > div .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        background-color: #000000;
        -webkit-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease; }
    .promotion .container .best-look {
      height: 340px;
      width: 50%;
      background: url("../img/looks-bg.jpg") no-repeat center center;
      -webkit-background-size: cover;
              background-size: cover;
      float: left; }
    .promotion .container .best-collection {
      height: 170px;
      width: 50%;
      background: url("../img/summer-bg.png") no-repeat center center;
      -webkit-background-size: cover;
              background-size: cover;
      float: left; }
    .promotion .container .best-seller, .promotion .container .leather {
      height: 170px;
      width: 25%;
      background: url("../img/sellers-bg.png") no-repeat center center;
      -webkit-background-size: cover;
              background-size: cover;
      float: left; }
    .promotion .container .leather {
      background: url("../img/leather-bg.png") no-repeat center center; }
      .promotion .container .leather i {
        margin-left: 10px; }
      .promotion .container .leather .btn-green {
        display: block;
        color: #ffffff;
        font-family: HelveticaNeueLTStdLt, sans-serif;
        font-size: 1.2em;
        line-height: 3em;
        text-transform: uppercase;
        background-color: #4fafa0;
        padding: 0 12px;
        margin: 122px 0 0 32px;
        float: left; }
